{% extends 'base.html' %}

{% block title %}
	WELCOME!
{% endblock %}

{% block content %}

				<!-- Banner -->
					<section id="banner">
						<header>
							<h2>No seas sólo un estudiante</h2>
							<p style="color:white;">Puedes hacer mucho más</p>
						</header>
					</section>

				<!-- Recomendaciones -->
				<h1 style="margin-top: 20px;">¡Recomendaciones para ti!</h1>
					<section id="intro" class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<section class="first">
									<i class="icon solid featured fa-cog"></i>
									<header>
										<h2>Recomendación concurso</h2>
									</header>
									<p>Aquí va la indormación de la recomendación del concurso para el usuario. Se basa en sus intereses.</p>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="middle">
									<i class="icon solid featured alt fa-bolt"></i>
									<header>
										<h2>Recomendación de becas </h2>
									</header>
									<p>Descripción de la beca recomendada. La convocatoria tiene que estar abierta, y el perfil del usuario se tiene que acercar al de la propuesta.</p>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="last">
									<i class="icon solid featured alt2 fa-star"></i>
									<header>
										<h2>Recomendación de Cursos o eventos cerca</h2>
									</header>
									<p>Vamos, esto es demasiado específico jajaja</p>
								</section>
							</div>
						</div>
						<!-- <footer>
							<ul class="actions">
								<li><a href="" class="button large">Get Started</a></li>
								<li><a href="" class="button alt large">Learn More</a></li>
							</ul>
						</footer> -->
					</section>


		<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Olimpiadas -->
								<section>
									<header class="major">
										<h2>Olimpiadas</h2>
									</header>
									<div class="row">
									{% set k = 0 %}
									{% for i in item %}
										<div class="col-4 col-6-medium col-12-small">
											<section class="box">
												<a href="" class="image featured">
													<img src="{{ i['photo'] }}" alt="" /></a>
												<header>
													<h3>{{ i['Nombre'] }}</h3>
												</header>
												<p> {{ i['Frase'] }} </p>
												<footer>

													{% for badge in i['Tags'] %}
														<span class="badge badge-pill badge-info">{{badge}}</span>
													{% endfor %}

													<ul class="actions">
														
														<li><a href="{{'/orgprofiles/'+i['Acrónimo'].lower()}}" class="button alt">¡Jálate!</a></li>
														
													</ul>
												</footer>
											</section>
										</div>

										{% set k = k + 1 %}

										{% endfor %}

						<div class="col-12">
<!-- ¡BECAS! -->

						<div class="col-12">

						<header class="major">
							<h2>Becas</h2>
						</header>
						<div class="row">
						{% set k = 0 %}
						{% for i in item_becas %}
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="" class="image featured"><img src="{{ i['foto'] }}" alt="" /></a>
									<header>
										<h3>{{ i['nombre'] }}</h3>
									</header>
									<p> {{ i['frase'] }} </p>
									<footer>

										<ul class="actions">
											<li><a href="{{'/becas/'+i['acronimo'].lower() + '/' + k | string}}" class="button alt">¡Aplicar!</a></li>
										</ul>
									</footer>
								</section>
							</div>

							{% set k = k + 1 %}
							{% endfor %}

{% endblock %}
