{% extends 'base.html' %}

{% block title %}
	{{ item['Acrónimo'] }}
{% endblock %}

{% block content %}

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">

								<!-- Content -->
									<article class="box post">
										<a target="_blank" href="{{item['Redes_sociales']}}" class="image featured"><img src="{{item['photo']}}" alt="" /></a>
											<h2>{{ item['Nombre'] }}</h2> <br>
											<h3>{{ item['Frase'] }}</h3>
										</header>
										
										{{ item['Descripción'] }}

										<section>
												<h3>¿Cómo entro?</h3>
											<p>
												La convocatoria actualmente está
											</p>
												{% if item['Convocatoria'] %}
													<div class="alert alert-success" role="alert">
													  <h4 class="alert-heading">¡Abierta!</h4>
													  <p>¡Genial! si entras a este link puedes aplicar siguiente los pasos: </p>
													  <hr>
													  <p class="mb-0"><a style="color:#3c9d9b;" target="_blank" href="{{item['link']}}">{{item['nombre']}}</a></p>

												{% else %}
													<div class="alert alert-danger" role="alert">
													  <h4 class="alert-heading">¡Cerrada!</h4>
													  <p>¡Lo sentimos! En cuanto abran la convocatoria lo sabrás, entrando a esta página, si quieres ver más puedes hacer click en el siguiente link </p>
													  <hr style="box-sizing: content-box;height: 0;overflow: visible;">
													  <p class="mb-0"><a href="{{item['link']}}">{{item['nombre']}}</a></p>
													</div>

												{% endif %}
										</section>
										<section>
											<header>
												<h3>So in conclusion ...</h3>
											</header>
											<p>
												Nunc diam iaculis massa, et aliquet nibh leo non nisl vitae porta lobortis, enim neque fringilla nunc,
												eget faucibus lacus sem quis nunc suspendisse nec lectus sit amet augue rutrum vulputate ut ut mi. Aenean
												elementum, mi sit amet porttitor lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor
												sit amet nullam consequat feugiat dolore tempus. Elementum odio duis semper risus et lectus commodo fringilla.
												Maecenas sagittis convallis justo vel mattis.
											</p>
										</section>
									</article>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section class="box">
										<a href="#" class="image featured"><img src="{{item['Foto_aux']}}" alt="" /></a>
										<header>
											<h3>{{item['Titulo_noticia']}}</h3>
										</header>
										<p>{{item['Cuerpo_noticia']}}</p>
										<footer>
											<a target="_blank" href="{{item['Redes_sociales']}}" class="button alt"><i style="font-size: 2em;" class="fab fa-facebook-square"></i></a>
										</footer>
									</section>

							</div>
						</div>
					</div>
				</section>

{% endblock %}